:root {
  --font-family: 'Poppins', sans-serif;
  --headings-font-family: 'Poppins', sans-serif;
  --grid-columns: repeat(4, 1fr);
  --columns-width: 140rem;
  --link-color: var(--gray);
  font-size: 22px;
  letter-spacing: 0.02rem;
  --column-gutter: 5rem;
  --gray: #1864ab;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 18px;   
    --column-gutter: 2rem;     
  }
  
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.main {
  /* background-color: #ffd8a8; */
}

.nav {
  /* background-color: #ffd8a8; */
}

a {
	transition: all 500ms ease;
  font-family: "Stoke", serif;
 	/* -webkit-text-stroke: 0.8px;     */
  font-size-adjust: 0.24;
  padding: 0.25rem 0.125rem;
  font-weight: bold;
}

.serif {
  font-family: "Stoke", serif;
  font-size-adjust: 0.24;
  font-weight: bold;
}

nav a {
  font-family: inherit;
}

.fold-header {
  cursor: ns-resize;
}

nav a.small{
  cursor: nesw-resize;
}

nav div{
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: var(--nav-padding);
  color: inherit;
}

.fold.is-active .header {
  content: 'Less';
}

.grid img{
  /* box-shadow: 0 0.25rem 0.25rem var(--component-shadow); */
  /* border: 1px solid #868e96; */
  position: relative;
}

[class*='bord'] {
  border-color: #868e96;
}

.scrollactive-item.is-active {
  text-decoration: underline;
}

h1, .h1 {
  /* font-family: 'Khula', sans-serif; */
  position: relative;
  z-index: 0;
  font-stretch: ultra-expanded;
  display: inline-block;
  transform: scaleY(0.8);
  letter-spacing: 0.1rem;
  margin-bottom: -0.25rem;
}

.h1::before {
	transition: all 500ms ease;
}

.h1::before {
  content: attr(data-heading);
  position: absolute;
	left: 0.25rem;
	top: 0.25rem;
  z-index: -10;
 	-webkit-text-stroke: 1px;
	-webkit-text-fill-color: transparent;
}

.h1:hover::before {
	left: 0.5rem;
	top: 0.5rem;
}

a {
  /* padding: 0.25rem 0.125rem; */
}
a:hover{
  background-color: var(--smoke);
  border-radius: 0.125rem;
}
